# Secrets
.env
.env.*
!.env.example

# Dépendances
node_modules/
react-app/node_modules/

# Build React
/public/
react-app/dist/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Éditeurs
.vscode/
.idea/
*.swp
